{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<table class="CONTEUDO">
  <tr>
    <td align="center">&nbsp;</td>
    <td width=100>&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td width=100>&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td width=100><a href="{% url 'raspagem' %}">Raspagem</a></td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td width=100>&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td width=100>&nbsp;</td>
    <td align="center">&nbsp;</td>
  </tr>
</table>
{% endblock %}
